h1 {
    margin-bottom: 20px;
}

.user {
    display: flex;
    align-items: center;
    width: 100%;
    height: 130px;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #2a2d30;
}

.profile-img {
    width: 90px;
    height: 90px;
    flex-shrink: 0;
    margin-right: 30px;
    border-radius: 100%;
    background-color: var(--log-out-bg-color);
}

.profile-img img {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    object-fit: cover;
}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 90px;
}

.name, .email, .status {
    width: 100%;
}

.name {
    padding-bottom: 15px;
}

.email {
    padding-bottom: 10px;
}

.user-activity-content {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #2a2d30;
}

.user-activity-content h2 {
    font-weight: bold;
    margin-bottom: 5px;
}

.activity-data {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.activity-data p {
    display: flex;
    align-items: center;
    margin: 0;
}

.activity-data p span {
    margin-left: 10px;
}

.button {
    margin-bottom: 20px;
}

.user-activity {
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

.back {
    display: block;
    text-align: left;
}

.user-activity:hover, .back:hover {
    color: #00fff7;
    text-decoration: underline;
}

.user-activity, .back {
    white-space: nowrap;
    text-decoration: underline;
}

.button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-top: 20px;
}

#contact-user-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid transparent;
    background-color: #2a2d30;
    border-radius: 5px;
    padding: 10px 20px;
    color: var(--font-color);
    cursor: pointer;
    width: fit-content;
}

#contact-user-button:hover {
    border: 1px solid var(--hover-font-color);
    background-color: rgba(0, 255, 247, 0.6);
}

@media screen and (max-width: 1180px) {
    .content {
        font-size: medium;
    }

    .button {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .user-activity, .back {
        display: block;
        text-align: center;
    }

    .profile-img {
        width: 70px;
        height: 70px;
        margin-right: 20px;
    }

    .profile-img img {
        width: 70px;
        height: 70px;
    }
}

@media screen and (max-width: 420px) {
    .content {
        font-size: small;
    }

    .profile-img {
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }

    .profile-img img {
        width: 50px;
        height: 50px;
    }
}