@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200..1000&family=Quicksand:wght@300..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
/* Side Navigational Bar */

body {
    background-color: var(--main-bg-color);
}

/* Desktop Top Navigational Bar */
#top-nav-desktop div.left ul li a#todo-nav-desktop{
    color: var(--hover-font-color);
}

#top-nav-desktop div.left ul li a#todo-nav-desktop::after{
    width: 100%;
    opacity: 1;
}

/* content visibility */
/* .content div {
    display: none;
} */

.side-nav {
    display: block;
}

.content div.active {
    display: block;
}


/* smooth color change for side nav */
.toggle-to-do {
    transition: background-color 0.3s ease;
}


/* Mobile Bottom Navigational Bar */
#bottom-nav-mobile ul li a#todo-nav-mobile {
    color: var(--hover-font-color);
}

#bottom-nav-mobile ul li a#todo-nav-mobile span {
    color: var(--hover-font-color);
}

#bottom-nav-mobile ul li:has(a#todo-nav-mobile)::after {
    width: 100%;
    opacity: 1;
    
}




/* Remove menu from Mobile Top Navigational Bar*/
/* #top-nav-mobile .material-symbols-rounded#menu {
    display: none;
} */