@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200..1000&family=Quicksand:wght@300..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

/* Desktop Top Navigational Bar */
/* #top-nav-desktop div.left ul li a#timer-nav-desktop {
    color: var(--hover-font-color);
}

#top-nav-desktop div.left ul li a#timer-nav-desktop::after {
    width: 100%;
    opacity: 1;
} */

/* Mobile Bottom Navigational Bar */
/* #bottom-nav-mobile ul li a#achievement-nav-mobile {
    color: var(--hover-font-color);
}

#bottom-nav-mobile ul li a#achievement-nav-mobile span {
    color: var(--hover-font-color);
}

#bottom-nav-mobile ul li:has(a#achievement-nav-mobile)::after {
    width: 100%;
    opacity: 1;
} */

[data-theme="dark"] {
    .invitation,
    .task-warning {
        border-bottom: 2px solid var(--hr-color);
    }

    .sent-date,
    .desc,
    .userid,
    .workspace-name,
    .title {
        color: var(--font-color);
    }

    #todays-date,
    .invite-date,
    .sent-date {
        color: grey
    }

    .accept {
        color: rgb(3, 168, 3);
    }

    .accept:hover {
        color: rgb(3, 168, 3);
    }
}

.body {
    position: relative;
}

#noti-container {
    display: none;
}

#noti-container::-webkit-scrollbar {
    display: none;
}

#noti-container.active {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 68px;
    right: 10px;
    z-index: 1000;
    width: 400px;
    max-height: 600px;
    overflow: auto;
    border-radius: 5px;
    background-color: var(--content-bg-color);
    box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.27);
    transition: .3s ease;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#no-noti {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: grey;
    font-style: italic;
}

#todays-date {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 12.5px;
    color: rgba(0, 0, 0, 0.4);
}

.invitation,
.task-warning {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 15px 0 15px;
    border-bottom: 1px solid var(--hr-color);
}

.inviter,
.due-task {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 40px;
}

.invitation .profile img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.userid {
    display: block;
    position: relative;
    width: 210px;
    padding-left: 10px;
    text-overflow: ellipsis;
    line-height: 1.2em;
    max-height: 2.4em;
    overflow: hidden;
    white-space: nowrap;
    word-break: break-word;
}

.invite-date,
.sent-date {
    width: 117px;
    margin-left: auto;
    text-align: right;
    font-size: 12.5px;
    color: rgba(0, 0, 0, 0.4);
}

.desc-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    padding-top: 15px;
}

.task-warning .task-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    padding: 8px 0 17px 0;
}

.desc,
.workspace-name,
.project-name {
    display: inline-block;
    white-space: normal;
    word-break: break-word;
    line-height: 25px;
    padding: 0 2.5px;
}

.desc {
    padding-bottom: 5px;
}

.workspace-name,
.project-name {
    font-weight: bold;
    padding-bottom: 25px;
}

.response,
.task-action {
    display: flex;
    position: relative;
    margin-top: auto;
    width: 100%;
    height: 35px;
    margin-bottom: 5px;
}

.block,
.accept {
    position: absolute;
    height: 100%;
    width: 50%;
    cursor: pointer;
    border: unset;
    font-size: 16px;
    background-color: var(--content-bg-color);
}

.block {
    left: 0;
    color: red;
    border-right: 2px solid var(--hr-color);
}

.block:hover {
    font-weight: bold;
}

.accept {
    right: 0;
    color: green;
}

.accept:hover {
    font-weight: bold;
    color: green;
}

.title {
    display: block;
    position: relative;
    width: 210px;
    padding-left: 10px;
    font-size: 18px;
    font-weight: bold;
}

.due-date {
    font-weight: bold;
    padding-left: 3px;
    padding-bottom: 15px;
}

.due-date-warning {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.due-date-warning {
    font-size: 28px;
    color: red; 
}

@media (max-height: 650px) {
    #noti-container.active {
        max-height: 80vh;
    }
}

@media (max-height: 650px) and (max-width: 1180px) {
    #noti-container.active {
        max-height: 70vh;
    }
}

@media screen and (max-width: 420px) {
    #noti-container.active {
        width: 370px;
    }

    .title {
        font-size: 15px;
        width: 180px
    }

    .userid {
        width: 180px;
    }

    .workspace-name {
        padding-bottom: 15px;
    }
}



