[data-theme = "dark"] {
    #save {
        background-color: rgb(0, 255, 247, 0.6);
        border: 1px solid #00fff7;
    }

    .camera {
        border: 3px solid var(--content-bg-color);
    }

    #workspace-enrolled, #project-enrolled {
        color: white;
        background-color: rgba(0, 0, 0, 0.4);
    }

    #username input {
        caret-color: white;
        color: white;
    }

    input::placeholder {
        color: rgba(255, 255, 255, 0.114);
    }

    .profile-details label {
        color: rgba(255, 255, 255, 0.534);
    }

    .profile-details input {
        filter: invert(1);
    }

    #password {
        color: rgb(0, 255, 247, 0.6);
    }

    #password:hover {
        color: #00fff7;
    }

    #logout {
        background-color: rgb(0, 255, 247, 0.6);
        border: 1px solid #00fff7;
    }
    
}

/* ---------------------------------------------------------------------------------------------------------------- */

.left #menu {
    visibility: hidden;
}

body {
    background-color: var(--main-bg-color);
    justify-content: center;
}

.content {
    left: 50%;
    top: 50%;   
    transform: translate(-50%, -50%);
    width: 90%;
    height: 100%;
    text-align: center;
    margin-bottom: 60px;
    overflow-x: hidden;
}

#save {
    background-color: #8f8f8f;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    border: none;
    cursor: pointer;
    display: block;
    margin: 0.5% 0.6% 0 auto;    
}

#save.edited {
    background-color: var(--top-nav-bg-color);
}

#save:hover {
    background-color: #00fff7;
    color: black;
}

#save:active {
    font-size: 17px;
}

#user-profile-pic img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

#user-profile-pic {
    display: block;
    justify-content: center;
    padding-top: 40px;
    position: relative;
}

.camera {
    font-size: 2.7rem;
    background-color: rgb(223, 223, 223);
    border-radius: 50%;
    border: 3px solid white;
    height: 86px;
    width: 86px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    top: 73%;
    left: 53%;
    cursor: pointer;
}

#image_input {
    display: none;
}

.upper-part {
    justify-items: center;
    margin: auto;
}

#username {
    display: inline-block;
    margin-top: 60px;
    max-width: 400px;
}

#username:hover .edit {
    display: unset;
    opacity: 1;
    color: rgb(220, 220, 220);
}

#username:hover input {
    text-decoration: underline rgb(224, 224, 224) 2px;
    text-underline-offset: 5px;
}

#username input {
    font-size: 42px;
    text-align: center;
    border: none;
    width: fit-content;
    max-width: 350px;
    outline: none;
    font-weight: bold;
    background-color: transparent;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.114);
}

.username input:focus {
    text-decoration: underline #00fff7 2px;
}

#username input:focus ~ .edit {
    color: #00fff7;
}

#username .edit {
    font-size: 30px;
    margin-left: 12px;
    display: none;
    opacity: 0;
}

#username .edit:hover {
    color: #00fff7;
    cursor: pointer;
}

.small-description {
    display: flex;
    justify-content: space-between;
    width: 290px;
    margin: 15px 0;
}

#workspace-enrolled, #project-enrolled {
    padding: 8px 10px;
    background-color: rgb(222, 222, 222);
    border-radius: 4px;
    min-width: 112px;
    max-width: 130px;
    align-content: center;
    font-weight: 600;
}

.profile-details {
    justify-self: center;
    font-size: 21px;
    text-align: left;
    width: 45%;
    margin: 80px 0;
    margin-bottom: 120px;
}

.profile-details label {
    display: block;
    color: rgba(0, 0, 0, 0.5);
}

.profile-details input {
    font-size: 21px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.459);
    border-radius: 5px;
    padding: 10px 15px;
    margin: 10px 0 20px 0;
    width: 100%;
    background-color: transparent;
}

.restrict_edit {
    font-size: 65%;
}

#password:hover {
        color: #00ded6;
}

#display_id {
    cursor: text;
}

#logout {
    background-color: var(--top-nav-bg-color);
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 25px;
    color: white;
    margin-bottom: 100px;
    border: none;
    cursor: pointer;
}

#logout:hover {
    background-color: #00fff7;
    color: black;
}

#change_password_page .insert-container {
    position: fixed;
    height: 40%;
    width: 35%;
    top: 30%;
    left: 33%;
    padding: 35px 35px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

#change_password_page label {
    font-size: 1.5rem;
    margin-bottom: 1.2%;
}

#change_password_page input {
    font-size: 1.5rem;
    outline: none;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    height: 25%;
    padding: 0 1.3%;
    margin-bottom: 1.2%;
}

#change_password_page button {
    background-color: #ffdddd;
    padding: 8px 15px;
    font-size: 1.2rem;
    cursor: pointer;
    float: inline-end;
    border-radius: 5px;
    margin-top: 5%;
    margin-left: 3%;
    border: none;
    position: relative;
    bottom: 5px;
    right: 5px;
}

#change_password_page button:hover {
    background-color: #00fff7;
}

/* ----------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 1180px) {
    .goalify-logo {
        position: absolute;
        left: 20px;
    }

    .camera {
        font-size: 2.3rem;
        
    }

    #username input {
        font-size: 37px;
    }

    .small-description {
        width: 260px;
        font-size: 13px;
    }

    .profile-details {
        font-size: 17px;
        margin: 50px 0;
        margin-bottom: 80px;
    }

    .noti-remind {
        margin: 25px 0;
    }

    #logout {
        margin-bottom: 140px;
        font-size: 90%;
    }

    #save {
        font-size: 90%;
    }

    #change_password_page .insert-container {
        padding: 30px;
    }
    
    #change_password_page label {
        font-size: 1.2rem;
    }
    
    #change_password_page input {
        font-size: 1.2rem;
    }

    #change_password_page button {
        margin-top: 30px;
        padding: 6px 10px;
    }
}

@media screen and (max-width: 930px) {    
    .camera {
        font-size: 2rem;
    }

    #username input {
        font-size: 32px;
    }

    .small-description {
        font-size: 10px;
        width: 220px;
    }

    #workspace-enrolled, #project-enrolled {
        min-width: 85px;
        padding: 6px 8px;
    }

    .profile-details {
        font-size: 15px;
    }

    .profile-details input {
        font-size: 15px;
    }

    
    #change_password_page button {
        padding: 6px 12px;
        font-size: 1rem;
        margin-top: 30px;
    }

    #change_password_page label {
        font-size: 1.1rem;
        margin-bottom: 5%;
    }
    
    #change_password_page input {
        font-size: 1.1rem;
        height: 15%;
    }
}

@media screen and (max-width: 750px) {    
    #user-profile-pic img {
        width: 180px;
        height: 180px;
    }
    
    .camera {
        font-size: 1.5rem;
        width: 60px;
        height: 60px;
        top: 78%;
    }

    #username {
        margin-top: 35px;
    }

    .profile-details {
        margin: 38px 0 40px 0;
        font-size: 13px;
    }

    .profile-details input {
        font-size: 10px;
        margin: 7px 0 10px 0;
        padding: 7px 12px;
    }

    #change_password_page .insert-container {
        width: 50%;
        left: 25%;
    }
    
}

@media screen and (max-width: 570px) {    
    .camera {
        font-size: 1rem;
        width: 50px;
        height: 50px;
    }

    #user-profile-pic img {
        width: 150px;
        height: 150px;
    }

    #username input {
        font-size: 27px;
    }

    #username .edit {
        font-size: 25px;
    }

    .small-description {
        width: 200px;
        margin: 9px 0;
    }

    #workspace-enrolled, #project-enrolled {
        font-size: 10px;
        padding: 7px 8px;
        min-width: 85px;
        max-width: 100px;
    }

    .profile-details {
        font-size: 12px;
        margin: 25px 0;
        margin-bottom: 60px;
        width: 60%;
    }

    .profile-details input {
        font-size: 12px;
    }

    #logout {
        font-size: 0.6em;
    }

    #save {
        font-size: 0.6em;
        padding: 10px 15px;
    }

    #change_password_page label {
        font-size: 1rem;
    }
    
    #change_password_page input {
        font-size: 1rem;
    }
}

@media screen and (max-width: 420px) {

    .camera {
        font-size: 1rem;
        width: 30px;
        height: 30px;
        top: 81%;
        left: 55.5%;
    }

    #user-profile-pic img {
        width: 100px;
        height: 100px;
    }
    
    #username {
        margin-top: 28px;
    }
    
    #username input {
        font-size: 17px;
    }

    #username .edit {
        font-size: 20px;
    }

    .small-description {
        width: 160px;
    }

    #workspace-enrolled, #project-enrolled {
        font-size: 8px;
        padding: 5px 6px;
        min-width: 50px;
        max-width: 80px;
    }
    
    .profile-details {
        font-size: 10px;
        margin-bottom: 30px;
    }

    .profile-details input {
        font-size: 10px;
        padding: 6px 9px;
        margin: 6px 0 10px 0;
    }
    
    #logout {
        padding: 8px 10px;
        margin-bottom: 140px;
    }

    #save {
        padding: 8px 10px;
    }

    #change_password_page button {
        padding: 5px 8px;
        font-size: 0.9rem;
    }

    #change_password_page label {
        font-size: 0.8rem;
    }
    
    #change_password_page input {
        font-size: 0.8rem;
    }

    #change_password_page .insert-container {
        height: 35%;
        padding: 25px;
    }
}


