@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200..1000&family=Quicksand:wght@300..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

h1 {
    margin-bottom: 20px;
}

.col-1, .col-2 {
    flex: 1 1 45%;
    min-width: 280px;
    max-width: 500px;
    height: 200px;
    background-color: #222529;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.title,
.content-1,
.content-2 {
    animation: 2s contentDisplay forwards;
}

.content-1 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
}

/* .content-1 {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
    padding: 40px 20px 50px 20px;
} */

/* .overview {
    width: 300px;
    height: 180px;
    padding: 10px;
    text-align: center;
    background-color: var(--log-out-bg-color);
    border-radius: 5px;
} */

.overview {
    width: 100%;
    max-width: 300px;
    height: 180px;
    padding: 10px;
    text-align: center;
    background-color: var(--log-out-bg-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.workspace-title, .project-title {
    font-size: 22px;
    font-weight: bold;
}

.workspace-data, .project-data {
    font-size: 40px;
    padding: 20px 0;
}

.content-2-topbar {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

#registered-title {
    font-size: 22px;
    font-weight: bold;
}

.content-2-topbar form#search-users-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: 1px solid var(--side-nav-border-color);
    border-radius: 100px;
    gap: 10px;
    margin-left: auto;
    position: static;
}

.content-2-topbar form#search-users-bar input {
    background: transparent;
    outline: none;
    border: none;
    padding: 3px 5px;
}

#search-users-bar input:focus {
    outline: none;
}

#search-users-bar button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 10px;
}

.user {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 70px;
    padding: 20px;
    margin-bottom: 12px;
    border-radius: 10px;
    background-color: #2a2d30;
}

.profile-img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    border-radius: 100%;
    background-color: var(--log-out-bg-color);
}

.profile-img img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
}

/* allow linebreak */
.name {
    width: 600px;
}

.view-details {
    position: absolute;
    right: 20px;
    font-size: 16px;
    cursor: pointer;
    background: transparent;
    border: none;
    white-space: nowrap;
    text-decoration: none;
}

.view-details:hover, .more-users:hover {
    color: #00fff7;
    text-decoration: underline;
}

.more-users {
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
    white-space: nowrap;
    text-decoration: none;
}

@keyframes contentDisplay {
    from {
        opacity: 0;
        visibility: hidden;
    }
    to {
        opacity: 1;
        visibility: visible;
    }
}

@media screen and (max-width: 1180px) {
    div.content {
        font-size: medium;
    }

    .col-1, .col-2 {
        padding: 15px;
    }

    .workspace-title, .project-title {
        font-size: 20px;
    }

    .workspace-data, .project-data {
        font-size: 36px;
    }

    .profile-img {
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }

    .profile-img img {
        width: 40px;
        height: 40px;
    }

    #search-users-bar {
        max-width: 300px;
    }

    #search-users-bar input {
        font-size: 14px;
    }
}

@media screen and (max-width: 549px) {
    .col-1, .col-2 {
        flex: 1 1 calc(50% - 20px);
        min-width: 280px;
        max-width: 500px;
        margin-bottom: 10px;
    }

    div.content {
        font-size: small;
    }

    .workspace-title, .project-title {
        font-size: 18px;
    }

    .workspace-data, .project-data {
        font-size: 30px;
    }

    .profile-img {
        width: 30px;
        height: 30px;
        margin-right: 5px;
    }

    .profile-img img {
        width: 30px;
        height: 30px;
    }

    .content-2-topbar {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        height: auto;
    }

    .content-2-topbar form#search-users-bar {
        width: 100%;
        max-width: 100%;
        margin-top: 10px;
        justify-content: space-between;
        position: static;
    }

    .content-2-topbar form#search-users-bar input {
        width: 100%;
    }
}
