div.content {
    padding: 0 40px;
}

.user-details {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
}

.user-details #title {
    margin-bottom: 10px;
}

.user-details p {
    display: flex;
    align-items: center;
    margin: 0;
}

.user-details p span {
    margin-left: 10px;
}

.activity-table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
}

.activity-table th, .activity-table td {
    padding: 10px 15px;
    border: 2px solid var(--log-out-bg-color);
    max-width: 100%;
    word-wrap: break-word;
    white-space: normal;
    text-align: left;
}

.activity-table th {
    background-color: #2a2d30;
    font-weight: bold;
}

table thead tr:first-child th:empty {
    display: none;
}

.back {
    white-space: nowrap;
    text-decoration: underline;
}

.back:hover {
    color: #00fff7;
    text-decoration: underline;
}

.back-container {
    margin-bottom: 40px;
}

@media screen and (max-width: 1000px) {
    .content {
        padding: 0 10px;
        font-size: medium;
    }

    .activity-table {
        font-size: 0.9rem;
        border: 1px solid rgba(255, 255, 255, 0.459);
    }

    .activity-table thead {
        display: none;
    }

    .activity-table tr {
        border-bottom: 1px solid rgba(255, 255, 255, 0.459);
    }

    .activity-table tr td {
        display: grid;
        grid-template-columns: 20ch auto;
        padding: 10px;
        gap: 5px;
        border: none;
        text-align: left;
    }

    .activity-table td::before {
        content: attr(data-label);
        font-weight: bold;
        text-transform: capitalize;
        white-space: nowrap;
    }

    .back-container {
        margin-bottom: 110px;
    }
}


@media screen and (max-width: 420px) {
    .content {
        padding: 0;
        font-size: small;
    }

    .activity-table {
        font-size: 0.8rem;
    }

    .activity-table thead {
        display: none;
    }

    .activity-table tr {
        border-bottom: 1px solid rgba(255, 255, 255, 0.459);
    }
    
    .activity-table tr td {
        display: grid;
        grid-template-columns: 15ch calc(100% - 15ch);
        padding: 8px;
        gap: 5px;
        border: none;
        align-items: center;
    }

    .activity-table td::before {
        content: attr(data-label);
        font-weight: bold;
        text-transform: capitalize;
        min-width: 120px;
        white-space: nowrap;
    }

    .back-container {
        margin-bottom: 100px;
    }
}