@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200..1000&family=Quicksand:wght@300..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
/* Side Navigational Bar */

:root {
    --button-bg: var(--hover-color-light);
    --link-color: #0000FF;
}

[data-theme="dark"] {
    --button-bg: rgba(0, 0, 0, 0.2);
    --link-color: #b4b4ea;
}

body {
    background-color: var(--main-bg-color);
}

/* Desktop Top Navigational Bar */
#top-nav-desktop div.left ul li a#contactSupport-nav-desktop {
    color: var(--hover-font-color);
}

#top-nav-desktop div.left ul li#contactSupport-li a#contactSupport-nav-desktop::after {
    width: 100%;
    opacity: 1;
}

/* Mobile Bottom Navigational Bar */
#bottom-nav-mobile ul li a#contactSupport-nav-mobile {
    color: var(--hover-font-color);
}

#bottom-nav-mobile ul li a#contactSupport-nav-mobile span {
    color: var(--hover-font-color);
}

#bottom-nav-mobile ul li:has(a#contactSupport-nav-mobile)::after {
    width: 100%;
    opacity: 1;
}


.content {
    display: grid;
    grid-template-areas: 
        "faqHeader"
        "faqTopics"
        "contact";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    width: 100%;
    grid-gap: 10px;
    padding: 0 20px;
    background-color: unset;
    box-shadow: unset;
}

.header {
    font-size: x-large;
    grid-area: faqHeader;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.faq-topics{
    grid-area: faqTopics;
    display: flex;
    width: 100%;
}

.faq-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
}

.faq-section .topic {
    background-color: var(--content-bg-color);
    padding: 20px 30px;
    border-radius: 5px;
}

.faq-section .topic-title {
    font-size: large;
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
}

.question, .answer {
    padding: 5px;
    padding-left: 4px;
}

.furtherHelp {
    grid-area: contact;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    background-color: var(--content-bg-color);
    border-radius: 5px;
}

.furtherHelp .help-title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.furtherHelp .details {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    font-style: italic;
}

.furtherHelp .contact-button {
    align-content: center;
    font-size: 1rem;
    gap: 10px;
    border: 1px solid transparent;
    background-color: var(--button-bg);
    border-radius: 5px;
    padding: 5px 30px;
    color: var(--font-color);
    cursor: pointer;
}

.furtherHelp .contact-button:hover {
    border: 1px solid var(--hover-font-color);
    background-color: rgba(0, 255, 247, 0.6);
}

#contact-support {
    position: fixed;
    height: 30%;
    width: 25%;
    top: 38%;
    left: 40%;
    background-color: var(--content-bg-color);
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    gap: 20px;
}

#contact-support a {
    text-decoration: none;
    color: var(--link-color);
}

#contact-support .button {
    margin-top: 10px;
}

#contact-support .button button {
    align-content: center;
    font-size: 1rem;
    gap: 10px;
    border: 1px solid transparent;
    background-color: var(--button-bg);
    border-radius: 100px;
    padding: 8px 15px;
    color: var(--font-color);
    cursor: pointer;
}

#contact-support .button button:hover {
    border: 1px solid var(--hover-font-color);
    background-color: rgba(0, 255, 247, 0.6);
}

#contact-support p {
    display: flex;
    align-items: center;
    gap: 10px;
}

@media screen and (max-width: 1180px) {
    .content {
        padding: 0 15px;
        max-width: 90%;
    }

    .faq-section {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .faq-section .topic-title {
        font-size: medium;
    }
}

@media screen and (max-width: 420px) {
    .content {
        padding: 0 15px;
        max-width: 90%;
    }

    .faq-section {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .faq-section .topic-title {
        font-size: medium;
    }
}

