/* @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200..1000&family=Quicksand:wght@300..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --side-nav-width: 22%;

    --main-bg-color: #dddddd;
    --top-nav-bg-color: #4c4c4c;
    --side-nav-bg-color: #ffffff;
    --side-nav-button: #eeeeee;
    --content-bg-color: #ffffff;
    --hover-color-light: #efefef;
    --hr-color: #dddddd;
    --font-color: #000000;
    --hover-font-color: #00fff7;
    --top-nav-hover-color-light: #a2a2a2;

    /* for scrollbar */
    --scrollbar-thumb: #b4b4b4;
    --scrollbar-track: #dbdbdb;

    /* for worksapce */
    --workspace-form-bg-color: #eeeeee;
    --workspace-name-bg-color: rgba(255, 255, 255, 0.712);

    /* for error overlay */
    --error-overlay-bg-color: #ffffff;
    --error-overlay-border-color: #ffffff;
}

[data-theme="dark"] {
    --main-bg-color: #262626;
    --top-nav-bg-color: #000000;
    --side-nav-bg-color: #171717;
    --side-nav-button: #4c4c4c;
    --content-bg-color: #3d3d3d;
    --hover-color-light: #303030;
    --hr-color: #303030;
    --font-color: #ffffff;
    --hover-font-color: #00fff7;
    --top-nav-hover-color-light: #353535;

    /* for scrollbar */
    --scrollbar-thumb: #6e6e6e;
    --scrollbar-track: rgba(0, 0, 0, 0.2);

    /* for workspace */
    --workspace-form-bg-color: var(--side-nav-bg-color);
    --workspace-name-bg-color: rgba(0, 0, 0, 0.2);

    /* for error overlay */
    --error-overlay-bg-color: rgba(94, 1, 1, 0.812);
    --error-overlay-heading-color: rgba(255, 0, 0, 0.534);
    --error-button-bg-color: rgb(127, 0, 0);
    --error-hover-button-bg-color: rgba(255, 0, 0, 0.534);
    --error-button-border-color: rgb(255, 0, 0);
}

.content::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track);
    border-radius: 10px;
}

.content::-webkit-scrollbar {
    width: 8px;
}

.content::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: 10px;
    border: 3px solid transparent; /* nothing happen, no spacing */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* width and height includes padding and margin */
    font-family: "Urbanist", serif;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
}

hr {
    border: none;
    border-top: 1.2px solid var(--hr-color);
    width: 100%;
}

/* Desktop Top Navigational Bar */
#top-nav-desktop {
    display: flex;
    position: fixed;
    top: 0;
    padding: 5px 20px 10px 20px;
    width: 100%;
    background-color: var(--top-nav-bg-color);
    color: #ffffff;
    align-items: center;
    font-size: 18px;
    z-index: 999;
    justify-content: space-between;
    box-shadow: 0px 0px 5px #000000;
    overflow-x: show;
}

#top-nav-desktop div.left{
    display: flex;
    align-items: center;
}

#top-nav-desktop div.right {
    display: flex;
    align-items: center;
    gap: 2vw;
}

#top-nav-desktop ul {
    margin-top: 9px;
    display: inline-block;
    white-space: nowrap;
}

#top-nav-desktop .material-symbols-rounded#menu {
    display: none;
}

#top-nav-desktop ul li{
    display: inline-block;
    list-style: none;
    margin-left: 2.4vw;
}


#top-nav-desktop div.right ul li {
    margin-left: 30px;
    cursor: pointer;
}

/* #top-nav-desktop div.right div.profile-pic img */
.profile-pic img {
    margin-top: 6px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
    cursor: pointer;
}

/* Icon */
i.bx.bx-sun {
    font-size: 25px;
}

/* Navigation bar <a> tag Link */
#top-nav-desktop div.left ul li a {
    position: relative;
    color: #ffffff;
    text-decoration: none;
    padding: 0 20px;
    transition: .3s ease-out;
    display: flex;
    justify-content: center;
}

#top-nav-desktop div.left ul li a::after {
    content: '';
    position: absolute;
    bottom: -19px;
    width: 10%;
    height: 2px;
    background: var(--hover-font-color);
    border-radius: 5px;
    opacity: 0;
    /* z-index: 1; */
    transition: .3s ease-out;
}

#top-nav-desktop div.left ul li a:hover::after {
    width: 100%;
    opacity: 1;
}

#top-nav-desktop div.left ul li a:hover {
    color: var(--hover-font-color);
}

#top-nav-desktop .material-symbols-rounded:hover {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    color: var(--hover-font-color);
    cursor: pointer;
}

/* for workspace in top nav */
/* continue here, fix the top-nav hover content for workspace, and positioning of drop-down */
#top-nav-desktop div.left ul li#workspace-li {
    position: relative;
}

#top-nav-desktop div.left ul li#workspace-li a#workspace-nav-desktop::after {
    content: '';
    position: absolute;
    bottom: -18px;
    width: 10%;
    height: 2px;
    background: var(--hover-font-color);
    border-radius: 5px;
    opacity: 0;
    transition: .3s ease-out;
}

#top-nav-desktop div.left ul li#workspace-li a#workspace-nav-desktop:hover::after {
    width: 90%;
    opacity: 1;
}

#top-nav-desktop div.left ul li:has(a#workspace-nav-desktop) {
    height: 21.5px;
}

#top-nav-desktop div.left ul li a#workspace-nav-desktop {
    display: inline-flex;
    align-items: center;
}

#top-nav-desktop div.left ul li a#workspace-nav-desktop span {
    margin-left: 10px;
}

#top-nav-desktop div.left ul li ul.drop-down {
    position: absolute;
    /* display: flex; */
    display: none;
    flex-direction: column;
    bottom: unset;
    /* z-index: 1; */
    list-style-type: none;
    font-size: 0.9rem;
    background-color: var(--top-nav-bg-color);
    height: 0;
    opacity: 0;
    transition: height 0.5s ease;
    transition: opacity 0.2s ease;
}

#top-nav-desktop div.left ul li ul.drop-down.active {
    display: flex;
    opacity: 1;
    height: auto;
    bottom: -180px;
    cursor: pointer;
    animation: 0.5s sideNavExpand forwards;
}

#top-nav-desktop div.left ul li ul.drop-down.active li {
    margin-left: 0;
    padding: 15px 25px;
    cursor: pointer;
}

#top-nav-desktop div.left ul li ul.drop-down.active li:hover {
    background-color: var(--top-nav-hover-color-light);
}

#top-nav-desktop div.left ul li ul.drop-down li {
    margin-left: 0;
    padding: 15px 25px;
    display: flex;
    align-items: center ;
    gap: 8px;
    cursor: default;
}

#top-nav-desktop div.left ul li ul.drop-down li span:hover{
    font-variation-settings: unset;
    color: var(--font-color);
}

#top-nav-desktop div.right ul li a {
    text-decoration: none;
    color: #fff;
}

/* Bottom Nav Workspace Drop Down (Overlay) */
#workspace-drop-down {
    color: var(--font-color);
    position: fixed;
    height: fit-content;
    width: 280px;
    top: 38%;
    left: 15%;
    padding: 10px 15px;
    padding-bottom: 40px;
    background-color: var(--workspace-form-bg-color);
    font-size: 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* box-shadow: 2px 2px 2px #303030; */
    z-index: 1000;
}

div#workspace-drop-down-close-div {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    border: none;
    padding: 0;
    margin: 0;
}

span#drop-down-close {
    cursor: pointer;
    color: var(--font-color);
}

#workspace-drop-down ul.drop-down {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    font-size: 0.8rem;
    background-color: none;
    border: 1px solid var(--hr-color)
    /* background-color: var(--top-nav-bg-color); */
}

#workspace-drop-down ul.drop-down li {
    margin-left: 0;
    padding: 8px 25px;
    cursor: pointer;
}

#workspace-drop-down ul.drop-down li:hover {
    background-color: var(--top-nav-hover-color-light);
}

#workspace-drop-down ul.drop-down li {
    margin-left: 0;
    padding: 15px 25px;
    display: flex;
    align-items: center ;
    gap: 8px;
    cursor: default;
}

#workspace-drop-down ul.drop-down li span:hover{
    font-variation-settings: unset;
    color: var(--font-color);
}

/* Form Overlay */
/* .content .form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.content form.pop-up-form {
    position: fixed;
    height: 30%;
    width: 25%;
    top: 38%;
    left: 40%;
    padding: 10px 35px;
    background-color: var(--workspace-form-bg-color);
    font-size: 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    z-index: 1000;
}

.content form.pop-up-form label {
    color: var(--font-color);
    font-size: 1.2rem;
}

.content form.pop-up-form input {
    width: 100%;
    height: 30px;
    padding-left: 10px;
    color: var(--font-color);
    border: 1px solid var(--hr-color);
    background-color: var(--workspace-name-bg-color);;
    border-radius: 5px;
}

.content form.pop-up-form input:focus {
    outline: none;
}

.content form.pop-up-form div.button {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.content form.pop-up-form div.button button{
    border-radius: 100px;
    padding: 8px 15px;
    color: var(--font-color);
    border: 1px solid var(--side-nav-bg-color);
    background-color: var(--main-bg-color);
    cursor: pointer;
}

.content form.pop-up-form div.button button:hover{
    border: 1px solid var(--hover-font-color);
    background-color: rgba(0, 255, 247, 0.6);
} */

/* Error Overlay */
div#error-overlay {
    position: fixed;
    height: fit-content;
    width: 25%;
    top: 35%;
    left: 40%;
    padding-bottom: 20px;
    background-color: var(--error-overlay-bg-color);
    font-size: 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    z-index: 1000;
    color: var(--font-color);
    overflow: hidden;
}

div#error-overlay div#error-overlay-heading {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    white-space: nowrap;
    padding: 10px 20px;
    background-color: var(--error-overlay-heading-color);
}

div#error-overlay div#error-overlay-heading span.material-symbols-rounded {
    color: var(--font-color);
    transform: scale(1.2);
}

div#error-overlay div#error-overlay-heading p {
    margin: 0;
    color: var(--font-color);
    font-size: 1.3rem;
    font-weight: bold;
}

div#error-overlay p {
    margin: 0 20px;
    text-align: center;
    line-height: 23px;
}

div#error-overlay button#close-error-overlay {
    border-radius: 100px;
    padding: 8px 30px;
    color: var(--font-color);
    border: 1px solid transparent;
    background-color: var(--error-button-bg-color);
    cursor: pointer;
}

div#error-overlay button#close-error-overlay:hover {
    border: 1px solid var(--error-button-border-color);
    background-color: var(--error-hover-button-bg-color);
}

/* #workspace-overlay { */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Optional: Dimmed overlay */
    z-index: 999; /* Ensure it covers the background */
}

/* create workspace */
form#create-workspace-form {
    position: fixed;
    /* min-height: 30%; */
    height: fit-content;
    width: 300px;
    top: 38%;
    left: 40%;
    padding: 30px;
    /* padding: 10px 35px; */
    background-color: var(--workspace-form-bg-color);
    font-size: 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    /* box-shadow: 2px 2px 2px #303030; */
    z-index: 1000;
}

form#create-workspace-form label {
    color: var(--font-color);
    font-size: 1.2rem;
}

form#create-workspace-form input {
    width: 100%;
    height: 30px;
    padding: 0 10px;
    color: var(--font-color);
    border: 1px solid var(--hr-color);
    background-color: var(--workspace-name-bg-color);;
    border-radius: 5px;
}

form#create-workspace-form input:focus {
    outline: none;
}

form#create-workspace-form div.button {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

form#create-workspace-form div.button button{
    border-radius: 100px;
    padding: 8px 15px;
    color: var(--font-color);
    /* border: 1px solid var(--side-nav-bg-color); */
    border: 1px solid transparent;
    background-color: var(--main-bg-color);
    cursor: pointer;
}

form#create-workspace-form div.button button:hover{
    border: 1px solid var(--hover-font-color);
    background-color: rgba(0, 255, 247, 0.6);
}

/* select workspace */
div#select-workspace-div {
    position: fixed;
    max-height: 450px;
    width: 300px;
    /* height: 450px; */
    top: 180px;
    left: 40%;
    padding: 20px 35px;
    background-color: var(--workspace-form-bg-color);
    font-size: 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    /* box-shadow: 2px 2px 2px #303030; */
    z-index: 1000;
}

div#select-workspace-div label {
    color: var(--font-color);
    font-size: 1.2rem;
}

div#select-workspace-div div.workspaces {
    max-height: 60%;
    overflow: auto;
    width: 100%;
}

div#select-workspace-div div.workspaces ul {
    width: 100%;
    list-style: none;
    color: var(--font-color);
    border: 1px solid var(--hr-color);
    border-bottom: none;
}

div#select-workspace-div div.workspaces ul li {
    padding: 10px 20px;
    text-align: center;
}

div#select-workspace-div div.workspaces ul li:hover {
    background-color: var(--hover-color-light);
    cursor: pointer;
}

div#select-workspace-div div.workspaces ul li#loading:hover {
    background-color: transparent;
    cursor: default;
}

div#select-workspace-div div.button {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

div#select-workspace-div div.button button{
    border-radius: 100px;
    padding: 8px 15px;
    color: var(--font-color);
    /* border: 1px solid var(--side-nav-bg-color); */
    border: 1px solid transparent;
    background-color: var(--main-bg-color);
    cursor: pointer;
}

div#select-workspace-div div.button button:hover{
    border: 1px solid var(--hover-font-color);
    background-color: rgba(0, 255, 247, 0.6);
}

/* join workspace form */
form#join-workspace-form {
    position: fixed;
    height: fit-content;
    width: 300px;
    top: 38%;
    left: 40%;
    padding: 30px;
    background-color: var(--workspace-form-bg-color);
    font-size: 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    /* box-shadow: 2px 2px 2px #303030; */
    z-index: 1000;
}

form#join-workspace-form label {
    color: var(--font-color);
    font-size: 1.2rem;
}

form#join-workspace-form input {
    width: 100%;
    height: 30px;
    padding: 0 10px;
    color: var(--font-color);
    border: 1px solid var(--hr-color);
    background-color: var(--workspace-name-bg-color);;
    border-radius: 5px;
}

form#join-workspace-form input:focus {
    outline: none;
}

form#join-workspace-form div.button {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

form#join-workspace-form div.button button{
    width: 80px;
    border-radius: 100px;
    padding: 8px 15px;
    color: var(--font-color);
    /* border: 1px solid var(--side-nav-bg-color); */
    border: 1px solid transparent;
    background-color: var(--main-bg-color);
    cursor: pointer;
}

form#join-workspace-form div.button button:hover{
    border: 1px solid var(--hover-font-color);
    background-color: rgba(0, 255, 247, 0.6);
}

/* Notification */
.noti-and-pointer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(10%);
    width: 25px;
    height: 48px;
}

#noti-pointer {
    display: none;
}

#noti-pointer.active {
    display: flex;
    position: absolute;
    bottom: -8px;
    width: 15px;
    height: 15px;
    z-index: 2000;
    rotate: 45deg;
    border-radius: 1px;
    background-color: var(--content-bg-color);
    transition: .3s ease;
}

#top-nav-desktop ul {
    position: relative;
    margin-top: 9px;
    display: inline-block;
    white-space: nowrap;
}

#top-nav-desktop .material-symbols-rounded#menu {
    display: none;
}

#top-nav-desktop ul li{
    display: inline-block;
    list-style: none;
    margin-left: 2.4vw;
}


#top-nav-desktop div.right ul li {
    margin-left: 30px;
    cursor: pointer;
}


/* icon */
.material-symbols-rounded.theme_mode {
    transform: rotate(360deg);
    transition: .5s ease;
    transition: transform 0.5s ease, color 0.3s ease;
    pointer-events: auto;
}

.material-symbols-rounded.theme_mode:hover {
    transform: rotate(180deg);
    transition: .5s ease;
}

.material-symbols-rounded.notifications {
    transform: rotateZ(0);
}

.material-symbols-rounded.notifications:hover {
    animation:  swing .3s 6;
}

@keyframes swing {
    50% {transform: rotateZ(-30deg);}
}

.contact_support:hover {
    animation: jump .5s 2;
    animation-delay: .2s;
}

@keyframes jump {
    50% {transform: translateY(3px); transform: scale(1.5);}

    100% {transform: translateY(0); transform: scale(1);}
}

/* Desktop Side Navigational Bar */
.side-nav {
    /* display: unset; */
    position: fixed;
    margin: 85px 0 0 0px;
    width: var(--side-nav-width);
    height: 90%;
    background-color: var(--side-nav-bg-color);
    color:var(--font-color);
    border-top-right-radius: 5px;
    /* box-shadow: 1px 2px 2px var(--hr-color); */
    transition: width .1s ease-in-out;
}


#toggle-side-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.side-nav h2 {
    display: inline-flex;
    margin: 25px 0px 20px 25px;
}

.side-nav span.material-symbols-rounded {
    margin: 16px 0 14px 0;
    padding: 10px 5px 10px 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    cursor: pointer;
    font-optical-sizing: 40px;
    opacity: 0;
    background-color: var(--side-nav-button);
    transition: .3s ease-in-out;
}

.side-nav span.material-symbols-rounded.expand {
    display: none;
}

.side-nav:hover span.material-symbols-rounded {
    opacity: 1;
}

.side-nav ul {
    display: unset;
    animation: 2s sideNavExpand forwards;
}

.side-nav ul li {
    list-style: none;
    padding: 16px 25px;
    cursor: pointer;
}

.side-nav ul li:hover {
    background-color: var(--hover-color-light);
}

.side-nav a {
    color: var(--font-color);
    text-decoration: none;
}


.side-nav.close {
    left: 0;
    width: 2%;
}

.side-nav.close ul {
    display: none;
    opacity: 0;
}

.side-nav.close span.material-symbols-rounded.expand {
    display: inline-flex;
    margin: 0;
    padding: 10px 3px 10px 2px;
    border-radius: 0;
    border-top-right-radius: 5px;
    cursor: pointer;
    font-optical-sizing: 40px;
    opacity: 1;
    background-color: unset;
}

.side-nav.close span.material-symbols-rounded.expand:hover {
    display: inline-flex;
    margin: 0;
    padding: 10px 3px 10px 2px;
    border-radius: 0;
    border-top-right-radius: 5px;
    cursor: pointer;
    font-optical-sizing: 40px;
    opacity: 1;
    background-color: var(--hover-color-light);
}

/* Desktop Content */
.content {
    position: fixed;
    right: 0;
    width: calc(100% - var(--side-nav-width) - 30px);
    height: 90%;
    margin: 85px 0 0 0;
    border-top-left-radius: 5px;
    background-color: var(--content-bg-color);
    transition: .2s ease-in-out;
    /* box-shadow: 2px 2px 2px 2px var(--hr-color); */
    padding: 35px 35px;
    color: var(--font-color);
    overflow-y: auto;
}

/* .content::-webkit-scrollbar {
    display: none;
} */

/* Mobile Bottom Navigational Bar */
#bottom-nav-mobile {
    display: none;
    width: 100%;
    white-space: nowrap;
    position: fixed;
    bottom: 0px;
    padding-top: 10px;
    padding-bottom: 3px;
    font-size: 0.6rem;
    background-color: var(--top-nav-bg-color);
    box-shadow: 0px 0px 5px #000000;
    z-index: 999;
}

#bottom-nav-mobile ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    flex-direction: row;
}

#bottom-nav-mobile a{
    text-decoration: none;
}

#bottom-nav-mobile ul li {
    width: 20%;
    position: relative;
    display: flex;
    line-height: 28px;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
}

#bottom-nav-mobile ul li a {
    color: #ffffff;
}

#bottom-nav-mobile ul li span{
    display: block;
    text-align: center;
    color: #ffffff;
}

#bottom-nav-mobile ul li:hover a {
    color: var(--hover-font-color);
}

#bottom-nav-mobile ul li:hover span {
    color: var(--hover-font-color);
}

#bottom-nav-mobile ul li::after {
    content: '';
    position: absolute;
    top: -10px;
    width: 10%;
    height: 2px;
    background: var(--hover-font-color);
    opacity: 0;
    z-index: 999;
    transition: .3s ease-out;
}

#bottom-nav-mobile ul li:hover::after {
    opacity: 1;
    width: 100%;
}

#bottom-nav-mobile li:hover .material-symbols-rounded {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

@media screen and (max-width: 1280px) {
    form#create-workspace-form, form#join-workspace-form {
        top: 350px;
        left: 600px;
    }
    div#select-workspace-div {
        top: 200px;
        left: 600px;
    }
}

@media screen and (max-width: 1180px) {

    .profile-pic {
        margin-left: 10px;
        margin-right: 0;
    }

    #top-nav-desktop .material-symbols-rounded#menu {
        display: unset;
        margin: 9px 10px 0 2px;
    }

    #top-nav-desktop .left ul {
        display: none;
    }

    #top-nav-desktop div.right ul li {
        /* margin-left: 20px; */
        cursor: pointer;
    }

    #bottom-nav-mobile {
        display: unset;
        z-index: 999;
        box-shadow: unset;
    }

    .side-nav {
        position: fixed;
        margin: 0;
        top: 60px;
        width: 30%;
        height: 100%;
        background-color: var(--side-nav-bg-color);
        color: var(--font-color);
        border-radius: unset;
        font-size: 0.6rem;
        transition: width .3s ease-in-out;
        z-index: 888;
        overflow-y: scroll;
        border-right-color: var(--hr-color);
        /* -webkit-overflow-scrolling: touch; */
        /* Smooth scrolling for mobile */
    }

    .side-nav::-webkit-scrollbar {
        display: none;
    }

    .side-nav ul {
        animation: 2s sideNavExpand forwards;
    }

    .side-nav ul h2 {
        margin: 20px 0px 15px 18px;
    }

    .side-nav ul li {
        list-style: none;
        padding: 16px 18px;
        cursor: pointer;
    }

    .side-nav span.material-symbols-rounded.expand {
        display: none;
    }

    .side-nav.close span.material-symbols-rounded.expand {
        display: none;
    }

    .side-nav span.material-symbols-rounded.close {
        display: none;
    }

    .side-nav.close {
        width: 0%;
        transition: width .3s ease-in-out;
    }

    .side-nav.close ul {
        display: none;
    }

    .content {
        top: 0;
        left: 5%;
        right: 5%;
        width: calc(100% - 10%);
        height: 90%;
        box-shadow: unset;
        border-top-right-radius: 5px;
        z-index: 2;
        overflow-y: auto;
    }
}

@media screen and (max-width: 1024px) {
    div#workspace-drop-down {
        top: 500px;
        left: 380px;
    }
    form#create-workspace-form, form#join-workspace-form {
        top: 600px;
        left: 360px;
    }
    div#select-workspace-div {
        top: 450px;
        left: 370px;
    }
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
    div#workspace-drop-down {
        top: 185px;
    }
    div#workspace-drop-down * {
        font-size: 1.1rem;
    }
    form#create-workspace-form, form#join-workspace-form {
        top: 200px;
    }
    div#select-workspace-div {
        top: 75px;
    }
}

@media screen and (max-width: 912px) {
    div#workspace-drop-down {
        top: 500px;
        left: 330px;
    }
    form#create-workspace-form, form#join-workspace-form {
        top: 600px;
        left: 300px;
    }
    div#select-workspace-div {
        top: 400px;
        left: 310px;
    }
}

@media screen and (max-width: 853px) {
    div#workspace-drop-down {
        top: 500px;
        left: 290px;
    }
    form#create-workspace-form, form#join-workspace-form {
        top: 550px;
        left: 280px;
    }
    div#select-workspace-div {
        left: 290px;
    }
}

@media screen and (max-width: 820px) {
    div#workspace-drop-down {
        top: 490px;
        left: 270px;
    }
    form#create-workspace-form, form#join-workspace-form {
        top: 500px;
        left: 260px;
    }
    div#select-workspace-div {
        top: 420px;
        left: 270px;
    }
}

@media screen and (max-width: 768px) {
    div#workspace-drop-down {
        top: 400px;
        left: 245px;
    }
    form#create-workspace-form, form#join-workspace-form {
        top: 400px;
        left: 230px;
    }
    div#select-workspace-div {
        top: 310px;
        left: 240px;
    }
}

@media screen and (max-width: 540px) {
    div#workspace-drop-down {
        top: 260px;
        left: 135px;
    }
    form#create-workspace-form, form#join-workspace-form {
        top: 260px;
        left: 120px;
    }
    div#select-workspace-div {
        top: 160px;
        left: 130px;
    }
}

@media screen and (max-width: 430px) {
    div#workspace-drop-down {
        top: 370px;
        left: 75px;
    }
    form#create-workspace-form, form#join-workspace-form {
        top: 380px;
        left: 65px;
    }
    div#select-workspace-div {
        top: 250px;
        left: 65px;
    }
}

@media screen and (max-width: 420px){
    body {
        font-size: 0.8rem;
    }

    .goalify-logo {
        padding-left: 0;
        transform: scale(0.8);
    }

    .profile-pic {
        transform: scale(0.8);
        margin-left: 6px;
        margin-right: 0;
    }

    #top-nav-desktop {
        padding: 3px 10px 8px 20px;
    }

    #top-nav-desktop .material-symbols-rounded#menu {
        display: unset;
        margin: 9px 0 0 0;
    }


    #top-nav-desktop div.right ul li {
        /* margin-left: 10px; */
        cursor: pointer;
    }

    #top-nav-desktop .material-symbols-rounded {
        font-size: 1rem;
    }

    .side-nav {
        top: 60px;
        font-size: 0.5rem;
    }
}

@media screen and (max-width: 414px) {
    div#workspace-drop-down {
        top: 360px;
        left: 65px;
    }
    form#create-workspace-form, form#join-workspace-form {
        top: 370px;
        left: 58px;
    }
    div#select-workspace-div {
        left: 56px;
    }
}

@media screen and (max-width: 412px) {
    div#workspace-drop-down {
        top: 350px;
        left: 65px;
    }
    form#create-workspace-form, form#join-workspace-form {
        left: 56px;
    }
    div#select-workspace-div {
        left: 56px;
    }
}

@media screen and (max-width: 390px) {
    div#workspace-drop-down {
        top: 320px;
        left: 55px;
    }
    form#create-workspace-form, form#join-workspace-form {
        top: 320px;
        left: 45px;
    }
    div#select-workspace-div {
        top: 230px;
        left: 45px;
    }
}

@media screen and (max-width: 375px) {
    div#workspace-drop-down {
        top: 250px;
        left: 40px;
    }
    div#workspace-drop-down * {
        font-size: 0.8rem !important;
    }
    form#create-workspace-form *, form#join-workspace-form * {
        font-size: 0.8rem !important;
    }
    form#create-workspace-form, form#join-workspace-form {
        top: 240px;
        left: 38px;
    }
    div#select-workspace-div {
        top: 130px;
        left: 40px;
    }
}

@media screen and (max-width: 360px) {
    form#create-workspace-form, form#join-workspace-form {
        top: 260px;
        left: 30px;
    }
    div#select-workspace-div {
        top: 160px;
        left: 31px;
    }
}

@media screen and (max-width: 344px) {
    div#workspace-drop-down {
        top: 360px;
        left: 32px;
    }
    form#create-workspace-form, form#join-workspace-form {
        top: 360px;
        left: 22px;
    }
    div#select-workspace-div {
        top: 230px;
        left: 23px;
    }
}

/* wi */

/*  */

@keyframes sideNavExpand {
    from {
        opacity: 0;
        visibility: hidden;
    }
    to {
        opacity: 1;
        visibility: visible;
    }
}